body {
  background-color: #ffffff;
}

div {
  position: relative;
  margin: auto;
  top: 10rem;
  width: 600px;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(fonts/Montserrat-Medium.ttf);
}

h1 {
  font-family: "Montserrat-Medium";
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  padding-bottom: 1rem;
  margin: 0;
}

h2 {
  font-family: "Montserrat-Medium";
  font-size: 1rem;
  color: #000000;
  font-weight: normal;
  padding-bottom: 1rem;
  margin: 0;
}

p {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  color: #000000;
  padding-bottom: 1rem;
  margin: 0;
}

a {
  color: #0000ff;
}

img {
  width: 100%;
  padding-bottom: 1rem;
  margin: 0;
}

ul {
  list-style-type: square;
  padding-bottom: 1rem;
  margin: 0;
}

li {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  color: #000000;
}

hr {
  margin-top: 1rem;
}
