body {
  background-color: #ffffff;
}

div {
  position: relative;
  margin: auto;
  top: 10rem;
  width: 40%;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(fonts/Montserrat-Medium.ttf);
}

h1 {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  display: inline;
  color: #000000;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat-Medium";
  font-size: 1rem;
  display: inline;
  color: #000000;
  font-weight: normal;
}

p {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  display: inline;
  color: #000000;
}

a {
  color: #0000ff;
}

img {
  width: 100%;
}

ul {
  list-style-type: square;
}

li {
  font-family: "Montserrat-Medium";
  font-size: 1.2rem;
  color: #000000;
}
